
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 1600px;
    height: 92px;
    border-bottom: 1px;
    padding: 16px 120px 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    gap: 346px;
   
 }
 nav .logo{
    width: 139px;
    height: 60px;
 }
  
  nav .menu{
    display: flex;
    list-style-type: none;
    height: 24px;
    width: 365px;
    gap:32px;
    
 }

 nav .menu a{
    font-size: 16px;
    color:#000000;
    text-decoration: none;
    font-weight: 500;
    
 }

 .btn{
    background-color:#30B868;
    border: none;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;

 }
 .btn:hover{
  background: #26a45a;
}
#banner{
  width: 1600px;
  min-height: 674px;
  margin-top: 0px;
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.banner-content{
  max-width: 1360px;
  height: 295px;
  text-align: center;
  margin-top: 115.5px ;
  margin-right: 120px;
  margin-bottom: 179.5px;
  margin-left: 120px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  
}


.badge{
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #FFFFFF;
  border-radius:1000px; 
  height: 35px;
  width: 229px;
  padding: 8px 12px;
  
}

.badge p{
  color:#30B868;
  font-weight: 500px;
  font-size: 16px;
}


.banner-content h1{
   font-size: 72px;
   line-height: 84px;
   font-weight: 700px;
}

.highlight{
   font-size: 72px;
   line-height: 84px;
   font-weight: 700px;
   color: #30B868;
}

.subtitle{
   font-size: 18px;
   line-height:24px ;
   color:#FFFFFF ;
   max-width: 720px;
   font-weight: 400px;
}


.banner-content div{
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  height: 52px;
  width: 465px;
}

.green-btn{
  background: #30B868;
  color: #FFFFFF;
  border: none;
  height: 52px;
  width: 251px;
  border-radius: 4px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.green-btn:hover{
  background: #26a45a;
}



.button{
  background: transparent;
  color: #ffffff;
  height: 52px;
  width: 198px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  cursor: pointer;
}

.button:hover{
  background: #2e2c2c;
}

#notes{
  max-width: 1600px;
  padding-top: 50px;
  padding-right: 120px;
  padding-left: 120px;
  gap: 44px;
  background-color: #9264640f;
}

.section-heading{
    max-width: 1360px;
    margin: 0 auto;
    gap: 16px;
}

.section-heading h2{
   font-weight: 700;
   font-style: bold;
   font-size: 48px;
   line-height: 100% ;
   text-align:center ;
   color:#001931 ;
}
.section-heading p{
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-align:center ;
   color:#627382 ;
   padding-top: 16px;
   padding-bottom: 44px;
}
 .card-box{
   margin-top: 25px;
   display: flex;
   gap: 24px;
}
 .card-box .note-card{
   padding-top: 69.5px;
   padding-right: 24px;
   padding-left: 24px;
   max-width: 322px;
   background-color: white;
   text-align:center;
   border-radius: 8px;
   gap: 16px;
   box-shadow: 6px 0 20px 0 #0000000F;
}
 
.card-logo{
   background-color: #F95555;
   width: 60px;
   height: 60px;
   padding: 14.04px;
   border-radius: 100%;
}

.note-card h3{
   font-weight: 600;
   font-size: 24px;
   line-height: 100%;
   text-align: center;
   color: #001931;
   padding-bottom: 16px;
   padding-top: 16px;
}

.note-card p{
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #627382;
}

#second-brain{
   max-width: 1360px;
   gap: 60px;
   margin:120px ;
   background-color: white;
}

.container{
   display: flex;
  
}

.k-png{
   width: 600px;
   height: 600px;
   border-radius: 12px;
}

.container .text{
   max-width: 700px;
   gap: 40px;
   margin-top:102px ;
   margin-bottom: 102px;
   margin-left:60px ;
}

.text h5{
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #30B868;
}

.text h3{
   font-weight: 700;
   font-style: bold;
   font-size: 48px;
   line-height: 100%;
   color: #001931;
   padding-top: 16px;
}

.text p{
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color:#627382;
   padding-top: 16px;
}  
.description{
   display: flex;
   align-items:center;
   gap: 10px;
}

.container .list{
   padding-top:40px ;
}

.list .points{
   list-style-type: none;
}

.description img{
   width: 20px;
   height: 20px;
}

.description p{
   font-weight: 500;
   font-size: 16px;
   color:#001931 ;
   padding-top: 0%;
}
.first{
   background-color: white;
   width: 1600px;
}

.second {
   width: 1360px;
   margin-top: 2px;
   margin-left: 120px;
   margin-bottom: 120px;
   margin-right: 120px;
   border-radius: 12px;
   background-color: #F7F6F2;
   padding-bottom: 80px;
}

.first h2{
   font-weight: 700;
   font-style: bold;
   font-size: 48px;
   line-height: 100% ;
   text-align:center ;
   color:#001931 ;
  padding-top: 80px;
  
}


.first p{
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-align:center ;
   color:#627382 ;
   padding-top: 16px;
   padding-bottom: 44px;
}

.last-btn{
  background: #30B868;
  border: none;
  height: 52px;
  width: 194px;
  border-radius: 4px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
  margin-left:585px;
  margin-top: 0px;
}

.last-btn:hover{
  background: #2e2c2c;
}

.footer-content{
   background-color:#001931 ;
   width: 1600px;
   padding: 120px 120px 30px 120px;
   gap: 80px;
}

.f-div{
   display: flex;
  justify-content: space-between;
  width: 1360px;
  height: 64px;
 margin-bottom: 80px;
}

.social-links{
   color: #FFFFFF;
  
}

.social-links p{
   font-weight: 500px;
   font-size: 20px;
   line-height: 28px;
   padding-bottom: 12px;
   padding-right: 150px;
}
.icons{
   gap: 16px;
}

.icons a{
   
   border-radius: 100%;
   color: white;

}

.copyright{
   color: #FAFAFA;
   font-weight: 400px;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   margin-top: 30px;
}